@model AudioRimacPlayer.Models.Song
@{
    ViewBag.Title = "AlbumSongs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/bundles/jquery")


    <script type="text/javascript">
        $("input").focus();
        $(".song ").hover(
            function () {

                $(this).css({ "background-color": "#5d5c5c", "border-bottom": "2px solid white" });
                //$(this).prev().children(".song-date").find(".song-date-artist").css({ "background-bottom": "0px solid white", "background-color": "green" });
                $(this).children(".song-date").find(".song-date-artist").css({ "font-size": "21px", "color": "#1073fc" });
                $(this).children(".song-image").find("img").css({ "margin-left": "3px", "margin-bottom": "3px", "margin-top": "0px" });

            }, function () {
                $(this).css({ "background-color": "#323131", "border-bottom": "2px solid #979797" });
                //$(this).prev().css({ "background-bottom": "2px solid #979797" });
                $(this).children(".song-date").find(".song-date-artist").css({ "font-size": "20px", "color": "#a9a9a9" });
                $(this).children(".song-image").find("img").css({ "margin-left": "0px", "margin-bottom": "0px", "margin-top": "3px" });


            }
        );
    </script>

}
<div class="row">
    <div class="col-xs-1 col-lg-4"> </div>
    <div id="songs-items" class="col-xs-10 col-lg-4">

        <h1 style="margin-top: 0; margin-bottom: 25px; color: #3764a2;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);">@Model.ArtistName</h1>
        <h2 style="margin-top: 0;margin-bottom: 50px; color: #7597c7;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);">@Model.AlbumName</h2>
        @if (Model.albumSongs.Count() > 0)
        {
            foreach (var item in Model.albumSongs)
            {
                <a href="@Url.Action("PlayAlbumSong", new { id = item.Key})">
                    <div class="song col-xs-12 col-lg-12">

                        <div class="song-image col-xs-4 col-lg-3">
                            <img src="@Model.AlbumCovertUrl" />

                        </div>
                        <div class="song-date col-xs-8 col-lg-9">

                            <div class="song-date-artist col-xs-12 col-lg-12" style="height: 100%; width: 100%;margin-top: 0.8em; color: #a9a9a9;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);">@item.Value.ToUpper()</div>

                        </div>

                    </div>
                </a>
            }
        }
        else
        {
            <div class="song col-xs-12 col-lg-12">
                <h4 style="margin-top: 25px; color: #3764a2;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);">Lack of elements</h4>
            </div>
        }
    </div>
    <div class="col-xs-1 col-lg-4"> </div>
</div>